<footer class="l-footer">
    <div class="p-footer__container">
        <a href="#">
            <img class="p-footer__logo" src="asset/image/logo_footer.svg">
        </a>
        <div class="p-footer__flex">
                <ul class="p-footer__info">
                    <li>〒530-0001</li>
                    <li>大阪市北区梅田3丁目1番1号</li>
                    <li>TEL.06-1234-5678(代)</li>
                </ul>
                <ul class="p-footer__menu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">CONCEPT</a></li>
                    <li><a href="#">ROOM</a></li>
                    <li><a href="#">NEWS</a></li>
                    <li><a href="#">ACCESS</a></li>
                </ul>
        </div>
        <p>©️2020 Tenkue Hotel</p>
    </div>
</footer>

<script src="/asset/js/bundle.js"></script>
