<header class="l-header" id="header">
  <nav>
    <h1>Tenkue Hotel</h1>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Concept</a></li>
      <li><a href="#">Room</a></li>
      <li><a href="#">News</a></li>
      <li><a href="#">Access</a></li>
    </ul>
  </nav>
</header>
