<header class="l-header" id="header">
  <div class="wrap">
    <nav>
      <a href="/">
        <img src="asset/image/logo_header.svg">
      </a>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Concept</a></li>
        <li><a href="#">Room</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Access</a></li>
      </ul>
      <div id="p-header__for_click">
        <div id="p-header__hum_icon" class="p-header__hum_icon"></div>
      </div>
    </nav>
    <!-- モーダルメニュー -->
    <div id="p-header__modal_menu">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#">Concept</a></li>
        <li><a href="#">Room</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Access</a></li>
      </ul>
      <div id="p-header__close_modal">
        <p>×</p>
      </div>
    </div>
  </div>


</header>
