/* ==================================
// pc-layout
===================================== */
@include pc-layout() {
    .p-room {
        width: 850px;
        margin: 0 auto;
        margin-bottom: 95px;
        h2 {
            position: relative;
            @include font-size(20);
            text-align: center;
            margin-bottom: 55px;
            letter-spacing: 3px;
            font-weight: 550;
        }
        h2:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -6px;
            display: inline-block;
            width: 35px;
            height: 2px;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translate(-50%);
            background-color: #00478b;
        }
    }
}
@include pc-layout() {
    .p-room__02-contents {
        @extend.p-room__contents;
        flex-flow: row-reverse;
    }
}
@include pc-layout() {
    .p-room__contents {
        display: flex;
        justify-content: space-between;
        width: 100%;
        position: relative;
        img {
            width: 47%;
        }
        .p-room__text {
            width: 46%;
            p {
                @include font-size(13);
            }
        }
        .p-room__number {
            letter-spacing: 3px;
            margin-bottom: 10px;
            font-weight: 550;
        }
        .p-room__grade {
            @include font-size(20);
            margin-bottom: 15px;
            font-weight: 550;
        }
        .p-room__more {
            color: #00478b;
            border: 1.5px solid #00478b;
            text-align: center;
            width: 24%;
            @include font-size(15);
            letter-spacing: 2px;
            position: absolute;
            bottom: -15px;
            a {
                @include font-size(15);
                color: #00478b;
            }
        }
        .p-room__more:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 15px;
            display: inline-block;
            width: 60px;
            height: 1.5px;
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translate(100%);
            background-color: #00478b;
        }
    }
}
/* ==================================
// sp-layout
===================================== */
@include sp-layout() {
    .p-room {
        width: auto;
        margin: 0 5%;
        margin-bottom: 95px;
        h2 {
            position: relative;
            font-size: 6vw;
            text-align: center;
            margin-bottom: 55px;
            letter-spacing: 3px;
            font-weight: 560;
        }
        h2:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -6px;
            display: inline-block;
            width: 50px;
            height: 3px;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translate(-50%);
            background-color: #00478b;
        }
    }
}
@include sp-layout() {
    .p-room__contents {
        width: 100%;
        // 追加
        flex-direction: column;

        img {
            width: 100%;
            margin-top: 40px;
        }
        .p-room__text {
            width: 100%;
            p {
                font-size: 4vw;
                margin-bottom: 25px;
            }
        }
        .p-room__number {
            letter-spacing: 3px;
            margin-bottom: 10px;
            font-weight: 550;
        }
        .p-room__grade {
            font-size: 6vw;
            margin-bottom: 15px;
            font-weight: 550;
        }
        .p-room__more {
            text-align: center;
            width: 100%;
            position: relative;
            // 追加
            margin-left: 0;
            a {
                color: #00478b;
                border: 3px solid #00478b;
                padding: 4% 30%;
                margin: auto;
                font-size: 4vw;
                font-weight: 500;
                letter-spacing: 2px;
                // 追加
                width: 75%;
            }
        }
        .p-room__more:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 50%;
            width: 25%;
            height: 3px;
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translate(100%);
            background-color: #00478b;
        }
    }
}
/* ==================================
// tab-layout
===================================== */
@include tab-layout() {
    .p-room {
        width: auto;
        margin: 0 5%;
        margin-bottom: 95px;
        h2 {
            position: relative;
            @include font-size(20);
            text-align: center;
            margin-bottom: 55px;
            letter-spacing: 3px;
            font-weight: 550;
        }
        h2:before {
            content: '';
            position: absolute;
            left: 50%;
            bottom: -6px;
            display: inline-block;
            width: 35px;
            height: 2px;
            -moz-transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            transform: translate(-50%);
            background-color: #00478b;
        }
    }
}
@include tab-layout() {
    .p-room__contents {
        margin: 0 auto;
        display: flex;
        width: 100%;
        position: relative;
        flex-flow: row-reverse;
        justify-content: space-between;
        img {
            width: 47%;
        }
        .p-room__text {
            width: 50%;
            margin-bottom: 5%;
            p {
                @include font-size(13);
            }
        }
        .p-room__number {
            letter-spacing: 3px;
            font-weight: 550;
        }
        .p-room__grade {
            @include font-size(20);
            font-weight: 550;
        }
        .p-room__more {
            color: #00478b;
            // border: 1.5px solid #00478b;
            text-align: center;
            width: 24%;
            @include font-size(15);
            letter-spacing: 2px;
            position: absolute;
            bottom: -15px;
            margin-left: 23%;
            a {
                @include font-size(15);
                color: #00478b;
                text-align: right;
                // 追加
                width: 100%;
                display: block;
                text-align: center;
                border: 1.5px solid #00478b;
            }
        }
        .p-room__more:after {
            content: '';
            position: absolute;
            left: 50%;
            bottom: 15px;
            display: inline-block;
            width: 30%;
            height: 1.5px;
            -moz-transform: translateX(100%);
            -webkit-transform: translateX(100%);
            -ms-transform: translateX(100%);
            transform: translate(100%);
            background-color: #00478b;
        }
    }
}
