.l-footer {
    ul {
        list-style: none;
    }
    color: #fff;
    a {
        color: #fff;
    }
    background-color: #00478b;

/*-------------------------------------------------------
PCレイアウト
-------------------------------------------------------*/
    @include pc-layout() {
        .p-footer__container {
            max-width: 1024px;
            margin: 0 auto;
            padding: 32px 0 24px 0;
            img {
                width: 168px;
            }
            .p-footer__flex {
                display: flex;
                .p-footer__info {
                    margin-top: 8px;
                }
                .p-footer__menu {
                    display: flex;
                    margin: 0 0 0 auto;
                    letter-spacing: 1px;
                    li {
                        margin-left: 32px;
                    }
                }
            }
            p {
                text-align: center;
                margin-top: 16px;
            }
        }
    }

/*-------------------------------------------------------
SPレイアウト
-------------------------------------------------------*/
    @include sp-layout () {
        .p-footer__container {
            padding: 32px 5% 16px;
            box-sizing: border-box;
            max-width: 100%;
            img {
                width: 168px;
                margin-bottom: 4px;
            }
            .p-footer__menu {
                display: flex;
                flex-wrap: wrap;
                margin-top: 16px;
                li {
                    width: 50%;
                }
            }
            p {
                text-align: center;
                margin-top: 14px;
                @include font-size(28)
            }
        }
    }    

/*-------------------------------------------------------
Tabレイアウト
-------------------------------------------------------*/
    @include tab-layout () {
        .p-footer__container {
            max-width: 1000px;
            margin: 0 auto;
            padding: 32px 3% 24px;
            img {
                width: 168px;
            }
            .p-footer__flex {
                display: flex;
                .p-footer__info {
                    margin-top: 8px;
                }
                .p-footer__menu {
                    display: flex;
                    margin: 0 0 0 auto;
                    letter-spacing: 1px;
                    li {
                        margin-left: 3vw;
                    }
                }
            }
            p {
                text-align: center;
                margin-top: 16px;
            }
        }
    }
}

