body {
    overflow-x: hidden;
}
// ヘッダーメニューのCSS
.l-header {
    // 共通部分
    background-color: #fff;

    // overflow-x: hidden;
    nav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            height: 22px;
            img {
                margin-left: 20px;
                width: 180px;
            }
        }
        li {
            display: inline-block;
            margin-right: 30px;
            line-height: 80px;
        }
    }
    // PCレイアウト
    @include pc-layout() {
        #p-header__humburger {
            display: none;
        }
        #p-header__modal_menu {
            display: none;
        }
        #p-header__for_click {
            display: none;
        }
    }
    // SPレイアウト
    @include sp-layout() {
        height: 110px;
        nav {
            height: 80px;
            a {
                height: 30px;
                img {
                    margin-top: 12px;
                    width: 240px;
                }
            }
            li {
                display: none;
            }
        }
        #p-header__modal_menu {
            background: #222;
            position: fixed;
            top: 0;
            right: 0;
            transform: translateX(100vw);
            width: 100%;
            min-height: 100%;
            z-index: 1;
            transition: 0.4s;
            ul {
                margin-top: 200px;
                li {
                    list-style: none;
                    text-align: center;
                    margin: 30px 0;
                    a {
                        color: #fff;
                    }
                }
            }
        }
        #p-header__modal_menu.open {
            transform: translateX(0);
            position: fixed;
        }
        #p-header__close_modal {
            p {
                cursor: pointer;
                display: inline;
                position: absolute;
                top: 0;
                right: 30px;
                color: #fff;
                font-size: 56px;
            }
        }
        // ハンバーガーメニュー
        #p-header__for_click {
            cursor: pointer;
            padding-left: 10px;
            margin-top: 15px;
            margin-right: 20px;
            height: 50px;
            width: 50px;
        }
        .p-header__hum_icon {
            position: relative;
            width: 28px;
            height: 3px;
            color: #00478b;
            background: currentColor;
            margin-top: 25px;
            margin-right: 30px;
            transform: scale(-1, 1);
        }
        .p-header__hum_icon:before {
            content: '';
            position: absolute;
            top: -11px;
            width: 125%;
            height: 100%;
            background: currentColor;
        }
        .p-header__hum_icon:after {
            content: '';
            position: absolute;
            top: 11px;
            width: 75%;
            height: 100%;
            background: currentColor;
        }
    }
}
