.l-header {
  @include pc-layout() {
    background-color: #fff;
    nav > a > svg {
      float: left;
      margin: 20px 20px;
      width:180px;
    }
    nav > ul {
      float: right;
      li {
        display: inline-block;
        margin-right: 30px;
        line-height: 80px;
      }
    }
  }
}
