.l-header {
  @include pc-layout() {
    background-color: #fff;
    nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
      a {
        height: 22px;
        img {
          margin-left: 20px;
          width:180px;
        }
      }
      li {
        display: inline-block;
        margin-right: 30px;
        line-height: 80px;
      }
    }
  }
}
