<article class="p-concept">
        <h2>CONCEPT</h2>
        <div class="concept__images">
            <img class="concept__icon" src="../asset/image/icon_01.png" />
            <img class="concept__icon" src="../asset/image/icon_02.png" />
            <img class="concept__icon" src="../asset/image/icon_03.png" />
        </div>
    
        <p>日本の文化に触れて頂き、日本をより好きになって頂き、お客様・従業員全てが笑顔になれるおもてなしを実現致します。</p>
        <p>各交通機関からのアクセスも良く、外国人観光客だけでなく、国内の家族旅行者など、</p>
        <p>多くのお客様の観光拠点と旅行者とつなぐ場所として、快適で贅沢な空間を提供致します。</p>
        <p>宿泊期間やご人数の関わらずご利用頂け、タイトなスケジュールなりがちなご予定も出来る限りサポートできるよう、</p>
        <p>チェックインやチェックアウトのお時間もご相談ください。</p>
        <p>さらに、長期滞在でもお楽しみ頂けるよう、様々なアクティビティーの実施も予定しております。</p>
    </article>
    