<article class="p-news">
    <div class="p-news__container">
        <h2>NEWS</h2>
        <ul>
            <li>2020.06.06 <span>INFOMATION</span> <br>【いよいよ明日オープン】オープン記念特典&セットにつきまして</li>
            <li>2020.06.06 <span>INFOMATION</span> <br>新型コロナウイルス感染症への対応（営業内容変更等）について</li>
            <li>2020.06.06 <span>INFOMATION</span> <br>ホームページを開設しました。</li>
        </ul>
    </div>
</article>
