<section class="p-room">
  <h2>ROOM</h2>
  <div class="p-room__contents">
    <div class="p-room__text">
      <h3 class="p-room__number">01</h3>
      <h3 class="p-room__grade">スイートルーム</h3>
      <p>一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャ
        ワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを
        兼ね備えた、上質空間をご提供いたします。専用カードキーによる
        フロアセキュリティーシステムを導入。安心してご滞在いただけま
        す。
      </p>
      <div class="p-room__more">
        <a href="#">MORE</a>
      </div>
    </div>
    <img src="asset/image/room_01.jpg" alt="">
  </div>
</section>

<section class="p-room">
  <div class="p-room__02-contents">
    <div class="p-room__text">
      <h3 class="p-room__number">02</h3>
      <h3 class="p-room__grade">スタンダート・ツイン</h3>
      <p>一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャ
        ワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを
        兼ね備えた、上質空間をご提供いたします。専用カードキーによる
        フロアセキュリティーシステムを導入。安心してご滞在いただけま
        す。
      </p>
      <div class="p-room__more">
        <a href="#">MORE</a>
      </div>
    </div>
    <img src="asset/image/room_02.jpg" alt="">
  </div>
</section>

<section class="p-room">
  <div class="p-room__contents">
    <div class="p-room__text">
      <h3 class="p-room__number">03</h3>
      <h3 class="p-room__grade">スタンダート・シングル</h3>
      <p>一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャ
        ワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを
        兼ね備えた、上質空間をご提供いたします。専用カードキーによる
        フロアセキュリティーシステムを導入。安心してご滞在いただけま
        す。
      </p>
      <div class="p-room__more">
        <a href="#">MORE</a>
      </div>
    </div>
    <img src="asset/image/room_03.jpg" alt="">
  </div>
</section>