<section class="p-room">
  <div class="p-room__content-wrapper">
    <div>ROOM</div>
    <div class="p-room__contents">
      <img src="asset/image/room_01.jpg" alt="">
      <div class="p-room__text">
        <h1>01</h1>
        <h2>スイートルーム</h2>
        <p>一流メーカーのベッドや、浴槽音響システムや洗い場、レインシャ<br>
           ワー (一部除く)をご用意したバスルームをなど、機能性と寛ぎを<br>
           兼ね備えた、上質空間をご提供いたします。専用カードキーによる<br>
           フロアセキュリティーシステムを導入。安心してご滞在いただけま
           す<br>
        </p>
        <div>MORE</div>
      </div>
    </div>
  </div>
</section>
